:root {
  /* colors */
  --darkblue: hsl(219, 29%, 14%);
  --black: black;
  --white: white;
  --grey100: #E7EAEE;
  --grey200: #CFCFCF;
  --grey300: #A3AAB4;
  --grey400: #676D7E;
  --grey500: #48556A;
  --purple50: #EDE4FF;
  --purple300: #A775F1;
  --purple500: #733FC8;

  --text1: 1.25rem;
  --text2: 0.8125rem;
  --text3: 0.8125rem;
  --text4: 0.6875rem;

  --ffamily: "Barlow", sans-serif;
  --padding: 2em;

}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: var(--ffamily);
}

/* TYPOGRAPHY */
.user h3 {
  font-size: var(--text2);
  line-height: 110%;
  margin-bottom: 4px;
}
.user p {
  font-size: var(--text4);
  line-height: 110%;
}
h2 {
  font-size: var(--text1);
  line-height: 120%;
  font-weight: 700;
}
article p {
  font-size: var(--text3);
  line-height: 140%;
}

/* COLORS */
.purple {
  background: var(--purple500);
  color: var(--purple50);
}

.purple-ring {
  border: 2px solid var(--purple300);
}

.grey {
  background-color: var(--grey500);
  color: var(--grey100);
}

.grey300 {
  color: var(--grey300);
}

.grey400 {
  color: var(--grey400);
}
.grey500 {
  color: var(--grey500);
}

.darkblue {
  background-color: var(--darkblue);
  color: var(--grey100)
}
.grey200 {
  color: var(--grey200);
}

.white {
  color: var(--white);
}

.whitebg {
  background-color: var(--white);
}

/* ORGANIZATION */

.grid {
  display: grid;
  gap: var(--padding);
  padding: var(--padding);
  background-color: var(--grey100);
}

article {
  border-radius: 8px;
  margin: 0 auto;
  padding: var(--padding);

  display: flex;
  flex-direction: column;
  gap: 16px;
}

.header {
  display: flex;
  align-items: center;
}

.avatar {
  width: 28px;
  margin-right: 15px;
}
.avatar img {
  display: block;
  max-width: 100%;
  border-radius: 50%;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

/* media inquiries */

/* tablet mode */
@media (min-width: 550px){
  .quotation {
    background-image: url('./images/bg-pattern-quotation.svg');
    background-repeat: no-repeat;
    background-position-x: 70%;
  }

  .grid {
    grid-template-columns: repeat(2, minmax(10px, 1fr));
  }
  
  .grid :nth-child(1),
  .grid :nth-child(4),
  .grid :nth-child(5) {
    grid-column: 1 / span 2;
  }

  .grid :nth-child(2) {
    grid-column: 1;
  }

}

/* desktop mode */
@media (min-width: 1000px){
  .grid {
    grid-template-columns: repeat(4, minmax(10px, 1fr));
  }

  .grid :nth-child(1) {
    grid-column: 1 / span 2;
  }
  .grid :nth-child(2) {
    grid-column: 3 / span 1;
  }
  .grid :nth-child(3) {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
  }
  .grid :nth-child(4) {
    grid-column: 2 / span 2;
    grid-row: 2 / span 1;
  }
  .grid :nth-child(5) {
    grid-column: 4 / span 1;
    grid-row: 1 / span 2;
  }
}
